/*************************
        General Rule
*************************/ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main{
    width: 80%;
    margin: 50px auto;
    margin-top: 120px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.ps-relative{
    position: relative;
}

.ps-absolute{
    position: absolute;
}

.ps-fixed{
    position: fixed;
    top: 0;
    width: 100%;
}

/*************************
        Color
*************************/ 
.cl-white{color: white;}
.bg-orange{background-color: #ff6900;}
.bg-black{background-color: #1a1a1a;}

/*************************
        flex
*************************/ 
.flex{
    display: flex;
}

.centerFlex{
    justify-content: center;
    align-items: center;
}

.spaceBtw{
    justify-content: space-between;
}

.wrap{
    flex-wrap: wrap;
}

.gap50{
    gap: 50px;
}

.gap10{
    gap: 10px;
}



/*************************
        Header
*************************/ 
.containerHeader{
    width: 80%;
    height: 70px;
    margin: auto;
    justify-content: space-between;
}

div.sexHuman ul li{
    color: white;
    padding: 5px;
    font-size: 17px;
    font-weight: 600;
}

.logoImg{
    width: 100px;
}

div.socialMenu i{
    color: white;
    padding: 5px;
    font-size: 18px;
}

/*************************
        Main
*************************/

/* card */
.cardBox{
    width: 450px;
    max-width: 450px;
    height: 700px;
    max-height: 650px;
}

.cardTop{
    max-width: 450px;
}

.cardImg{
    width: 450px;
    height: 600px;
}

.brand{
    font-size: 13px;
    font-weight: 400;
}

.model{
    font-weight: 800;
    text-transform: uppercase;
}

.price{
    font-size: 15px;
    font-weight: 600;
}

.newPrice{
    color: red;
}

/*************************
        Footer
*************************/

.containerFt{
    width: 80%;
    height: 100px;
    margin: auto;
}

div.infoFt ul li {
    color: white;
    font-size: 12px;
}

div.socialFt p i{
    font-size: 20px;
    
}